/* Context */
/* line 2, ../sass/styles.scss */
html {
  font-size: 100%;
  font-size: 1em;
}

/* line 7, ../sass/styles.scss */
body {
  font-size: 1em;
}

/* line 12, ../sass/styles.scss */
#container {
  width: 100%;
  display: inline-block;
  text-align: center;
}

/* line 17, ../sass/styles.scss */
#container-fluid-sample {
  width: 50%;
  display: inline-block;
  text-align: center;
}

/* Slideshow */
/* reset */
/* line 5, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* css3 */
/* apply a natural box layout model to all elements */
/* line 11, ../sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_base.scss */
a {
  cursor: pointer;
}

/* line 37, ../sass/styles.scss */
.slideshow {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 50%;
  /* 	.prev, .next{
  		display: inline-block;
  		cursor: pointer;
  		width: 150px;
  		height: 50px;
  	}
  
  	.prev a, .next a{
  		cursor: pointer;
  		width: 150px;
  		height: 50px;
  	}
   */
}
/* line 42, ../sass/styles.scss */
.slideshow figure {
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
  top: 0;
}
/* line 48, ../sass/styles.scss */
.slideshow figcaption {
  position: absolute;
}
/* line 51, ../sass/styles.scss */
.slideshow .wrapper, .slideshow nav {
  display: inline-block;
}
/* line 54, ../sass/styles.scss */
.slideshow nav {
  position: relative;
  width: 100%;
  text-align: center;
}
/* line 59, ../sass/styles.scss */
.slideshow nav > ul > li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  list-style-type: none;
}
/* line 65, ../sass/styles.scss */
.slideshow nav li > a {
  display: inline-block;
  width: 50%;
  height: 50%;
  background: #a3a3a3;
  border-radius: 15px;
}
/* line 71, ../sass/styles.scss */
.slideshow nav li > a.active {
  background: #565656;
  transition: background 1s;
}
/* line 76, ../sass/styles.scss */
.slideshow figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
